[submodule "Assignments/personal/week07/three-tier-assignment-frontend.atheerfaisal.alqannas"]
	path = Assignments/personal/week07/three-tier-assignment-frontend.atheerfaisal.alqannas
	url = https://integrifyeducation@dev.azure.com/integrifyeducation/devops2-atheeralqannas/_git/three-tier-assignment-frontend.atheerfaisal.alqannas
